{
  "extends": ["react-app", "airbnb"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "max-len": 0
  }
}